body {
}
.estilo2 
{
    font-family:Arial;
    font-size: large;
    border-style: solid;
    background-color: #00CCFF;
}
.estilo3
{
    font-family:Arial;
    font-size: large;
    border-style: solid;
    background-color:aquamarine
}
