<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Entidades.Properties.Settings.DemoConnectionString"
            connectionString="Data Source=10.120.56.118;Initial Catalog=Demo;User ID=sa;Password=Fr33T1mE;Connect Timeout=45"
            providerName="System.Data.SqlClient" />
        <add name="Entidades.Properties.Settings.DemoConnectionString1"
            connectionString="Data Source=10.120.56.118;Initial Catalog=Demo;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Entidades.Properties.Settings.DemoConnectionString2"
            connectionString="Data Source=10.120.56.118;Initial Catalog=Demo;Persist Security Info=True;User ID=sa;Password=Fr33T1mE"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>